*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#canvas{
    width: 100%;
    height: 100%;
    background-image: url('./assets/title-bg.gif');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    z-index: -1;
    position: absolute;
}


/* title screen ui */
#title-screen{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    overflow: visible;
    margin-bottom: 50px;
}
.title-box{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

/* buttons */
.top-buttons{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.btn{
    background-image: linear-gradient(to right, #ff001e 0%, #EA384D  51%, #ff001e  100%);
    border: none;
    color: white;
    border-radius: 22px;
    background-size: 200% auto;
    box-shadow: 0 0 20px #4e4e4e;
    display: block;
    cursor: pointer;
    transition: 0.5s ease, transform 0.1s ease, box-shadow 0.1s ease;
}

.btn:hover{
    background-position: right center;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px #d1cdcd40;
}

.btn:active{
    transform: translateY(0);
    box-shadow: none;
}

.btn-large{
    width: 70%;
    padding: 18px 0;
    font-size: 28px;
}

.bottom-buttons{
    display: flex;
    gap: 30px;
}

.btn-small{
    width: 160px;
    padding: 16px 0;
    font-size: 24px;
}
